<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Daily journal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="navbar-nav ms-auto mb-3 pe-5 ps-5">
                <li class="nav-item">
                    <form action="/"><button class="home nav-link active">home</button></form>
                </li>
                <li class="nav-item">
                    <form action="/about"><button class="about nav-link ">about</button></form>   
                </li>
                <li class="nav-item">
                    <form action="/contact"><button class="contact-us nav-link ">contact us</button></form>
                </li>
            </ul>
        </div>
    </div>

</nav>
