body
{
    text-align: center;
}

/* header secton */
.nav-link
{
    background-color: transparent;
    border: 0px;
    text-transform: uppercase;
    line-height: normal;
    color:#65C18C;
}

.nav-link:hover
{
    color:#65C18C;
}

.navbar-brand
{
    text-transform: uppercase;
    padding-left:5%;
}

.container-fluid
{
    padding:0% 5%;
}

.activity-title
{
    text-transform: capitalize;
}

.readMore-link
{
    background-color: transparent;
    border:0px;
    color: blue;
    text-decoration: underline;
}

.desc,.readMore-form,.compose-form
{
    display: inline-block;
}


/* footer section */
footer
{
    background-color: #65C18C;
    padding: 10px 0%;
    color: white;
    position:static;
    bottom: 0;
    width:100%;
    height: 50px;
}

p
{
    margin-top:auto;
}

.container
{
    padding:2% 5%;
    text-align: left;
    min-height:83.5vh;
}


/* compose section */
.compose
{
    padding-top: 3%;
}

.compose-btn
{
    /* margin-bottom: 2%; */
    display: inline-block;
}

.compose-form
{
    text-align: left;
    margin-left: 1%;
}

 .compose-container
{
    min-height: 85vh;
    text-align: left;
    padding: 5% 10%;
} 

.form-input
{
    padding:0.5% 1%;
    width: 100%;
}

.form-label
{
    display: block;
    margin:1% 0% 1%;
}

.compose-title
{
    margin-bottom:2%;
}

.publish-btn
{
    margin-top: 1%;
}


@media (max-width:1000px) 
{
    .container
    {
        min-height: 85vh;
    }   
}

.description
{
    margin-top: 2%;
    text-align: justify;
}